# Tuples

In [1]:
#Tuples are immutable, i.e. their values cannot be changed
ratings = (10,9,6,5,10,6,8)

In [2]:
#Sorting a tuple
ratings_Sorted = sorted(ratings)
ratings_Sorted

[5, 6, 6, 8, 9, 10, 10]

In [3]:
#Nested tuple 
NT = (2,'2',(2,'interstellar',45),'how and why')
type(NT)

tuple

In [4]:
#nested tuple can be printed
print(NT[2])

(2, 'interstellar', 45)

In [5]:
#Can access a particular element in the nested tuple
NT[2][1]

'interstellar'

In [12]:
#Can access the particular string
NT[2][1][-1]

'r'

# Lists

In [23]:
#Lists are mutable i.e their values can be changed.
L = [1,'endurance',32,'tars'] 
l1 = ['case',101,'cooper']

In [24]:
#elements can be accessed through this method
L[0] + L[2]

33

In [25]:
#Slicing of lists
L[1:3]

['endurance', 32]

In [26]:
#combining of lists
L + l1

[1, 'endurance', 32, 'tars', 'case', 101, 'cooper']

In [27]:
#extending lists
L.extend(['chris nolan', 101101])
L

[1, 'endurance', 32, 'tars', 'chris nolan', 101101]

In [28]:
#appending elements in the list
L.append(['Dunkirk','gargantua'])
L

[1, 'endurance', 32, 'tars', 'chris nolan', 101101, ['Dunkirk', 'gargantua']]

In [29]:
#Deleting elements in the list
del(L[0])
L

['endurance', 32, 'tars', 'chris nolan', 101101, ['Dunkirk', 'gargantua']]

In [30]:
#splitting a string
'tars case'.split()  #by-default it splits wrt spaces.

['tars', 'case']

In [32]:
#splitting using delimiter
'A,B,C,D'.split(",")

['A', 'B', 'C', 'D']

In [33]:
#Aliasing
A = L
A

['endurance', 32, 'tars', 'chris nolan', 101101, ['Dunkirk', 'gargantua']]

In [35]:
#If we change the value of one we can see the change in other variable
A[1] = 'change'
L

['endurance',
 'change',
 'tars',
 'chris nolan',
 101101,
 ['Dunkirk', 'gargantua']]

In [36]:
#cloning of lists
B = L[:]
B

['endurance',
 'change',
 'tars',
 'chris nolan',
 101101,
 ['Dunkirk', 'gargantua']]

In [38]:
#if we change the value in the cloned list, it will not be reflected back in the original list
B[2] = 'case'
print(L)
print(B)

['endurance', 'change', 'tars', 'chris nolan', 101101, ['Dunkirk', 'gargantua']]
['endurance', 'change', 'case', 'chris nolan', 101101, ['Dunkirk', 'gargantua']]

In [39]:
#to get help regarding any data structure
help(B)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Sets

In [54]:
#Creating a set, they hold unique values only.. duplicate values are merged to make one entity
set1 = {'tars','case','kipler','venus','mars','tars'}
print(set1)

{'kipler', 'case', 'mars', 'tars', 'venus'}

In [55]:
#we can type-cast a list to a set
A = [2,'tars','nolan','dunkirk',6,6]
set2 = set(A)
print(set2)

{2, 6, 'dunkirk', 'nolan', 'tars'}

In [56]:
#new element can be added to the previous set
set1.add('neutron')
print(set1)

{'kipler', 'case', 'neutron', 'mars', 'tars', 'venus'}

In [57]:
#we can remove any element in the previous set.
set1.remove('neutron')
print(set1)

{'kipler', 'case', 'mars', 'tars', 'venus'}

In [58]:
#we can check if the element is in the set
'case' in set1

True

In [59]:
#to find intersection of sets
set1 & set2

{'tars'}

In [60]:
#to find the union of the sets
set1.union(set2)

{2, 6, 'case', 'dunkirk', 'kipler', 'mars', 'nolan', 'tars', 'venus'}

In [61]:
#To check if a set is a subset of another subset..
set2.issubset(set1)

False

In [62]:
#printing two sets
set1, set2

({'case', 'kipler', 'mars', 'tars', 'venus'},
 {2, 6, 'dunkirk', 'nolan', 'tars'})

In [63]:
#to find the difference 
set1.difference(set2)

{'case', 'kipler', 'mars', 'venus'}

In [64]:
#to find intersection
set1.intersection(set2)

{'tars'}

# Dictionaries

In [70]:
#we can create dictionaries as follows
dict = {'interstellar' : 2014, 'tenet' : 2020, 'dunkirk' : 2017, 'inception' : 2010}
dict

{'interstellar': 2014, 'tenet': 2020, 'dunkirk': 2017, 'inception': 2010}

In [67]:
#to get the value associated with the key
dict['tenet']

2020

In [71]:
#to delete the key and value
del(dict['tenet'])
dict

{'interstellar': 2014, 'dunkirk': 2017, 'inception': 2010}

In [72]:
#to verify if the element is in the dictionary
'dunkirk' in dict

True

In [73]:
#to see all the keys in the dictionary
dict.keys()

dict_keys(['interstellar', 'dunkirk', 'inception'])

In [74]:
#to find values 
dict.values()

dict_values([2014, 2017, 2010])